<h2>Experiences from all users:</h2>

<% experiences.forEach((experience, idx) => { %>
    <div>
        <h4>
            <a href="/parks/<%= experience.parkCode %>"> <%= experience.fullName %> </a>: <%= experience.title %> written by <%= users[idx].name %>
        </h4>
        <p>
            <%= experience.description %>
        </p>
        <% console.log(user.dataValues.id) %>
        <% if (experience.userId === user.dataValues.id) { %>
                <form method="GET" action="/experiences/edit/<%= experience.id %>">
                    <input type="submit" value="Edit or Delete Experience">
                </form>
        <% } %>
    </div>
<% }) %>