<h2>Experiences from all users:</h2>


<% experiences.forEach((experience, idx) => { %>
    <div class="card text-center">
    <div class="card-header">
        <a href="/parks/<%= experience.parkCode %>"><%= experience.fullName %></a>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= experience.title %></h5>
        <p class="card-text"><%= experience.description %></p>
        <% if (experience.userId === user.dataValues.id) { %>
            <form method="GET" action="/experiences/edit/<%= experience.id %>">
                <input type="submit" value="Edit or Delete Experience">
            </form>
    <% } %>
      </div>
      <div class="card-footer text-muted">
        Written by: <%= users[idx].name %>
      </div>

    </div>
    <div class="mt-2 col-md-12">
      <h5 class="text-white">  X  </h5>        
  </div>
    
<% }) %>