<div class="container-lg text-center">
    <h2><%= user.name %>'s Profile Page</h2>
</div>

<div class="text-center">
    <a href="/users/profile/edit">Edit my profile</a>
</div>

<h2><%= user.name %>'s Bio</h2>
<p2><%= user.bio %></p2>

<h2><%= user.name %>'s Experiences:</h2>



<% experiences.forEach(experience => { %>
    <div>
        <h3>
            <%= experience.fullName %>: <%= experience.title %>
        </h3>
        <p>
            <%= experience.description %>
        </p>
        <div>
            <form method="GET" action="/experiences/edit/<%= experience.id %>">
                <input type="submit" value="Edit or Delete Experience">
            </form>
        </div>
    </div>
<% }) %>



<h2><%= user.name %>'s Favorite Parks:</h2>

<% parks.forEach(park => { %>
    <div>
        <h3>
            <%= park.fullName %>
        </h3>
        <img src="<%= park.images[0].url %>" width="300px">

        <form method="GET" action="/parks/<%= park.parkCode %>">
            <input type="submit" value="View">
        </form>
        <form method="POST" action="/parks/<%= park.parkCode %>/favorite">
            <input id="favorite" name="parkCode" value="<%= park.parkCode %>" hidden>
            <input id="favorite" name="fullName" value="<%= park.fullName %>" hidden>
            <input type="submit" value="Favorite">
        </form>
        <form method="GET" action="/experiences/new/<%= park.parkCode %>/<%= park.fullName %>">
            <input type="submit" value="Add Experience">
        </form>
    </div>
<% }) %>

