<div class="container-lg text-center">
    <h1>US National Parks</h1>
</div>

<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <% parks.forEach(park => { %>
            <% if(park.designation === 'National Park') { %>
                    <div class="col">
                      <div class="card">
                        <img src="<%= park.images[0].url %>" class="card-img-top" alt="<%= park.fullName %>">
                        <div class="card-body">
                          <h5 class="card-title"><%= park.fullName %></h5>
                          <p class="card-text"><%= park.description %></p>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <form method="GET" action="/parks/<%= park.parkCode %>">
                                <button type="submit" class="btn btn-success m-1">View</button>
                            </form>
                            <form method="POST" action="/parks/<%= park.parkCode %>/favorite">
                                <input id="favorite" name="parkCode" value="<%= park.parkCode %>" hidden>
                                <input id="favorite" name="fullName" value="<%= park.fullName %>" hidden>
                                <button type="submit" class="btn btn-success m-1">Favorite</button>
                            </form>
                            <form method="GET" action="/experiences/new/<%= park.parkCode %>/<%= park.fullName %>">
                                <button type="submit" class="btn btn-success m-1">Add Experience</button>
                            </form>
                        </div>
                        </div>
                      </div>
                    </div>
                <% } %>
            <% }) %>
        </div> 