<h1><%= parks.fullName %></h1>

<img src="<%= parks.images[0].url %>" width="400px" >

<form method="POST" action="/parks/<%= parks.parkCode %>/favorite">
    <input id="favorite" name="parkCode" value="<%= parks.parkCode %>" hidden>
    <input id="favorite" name="fullName" value="<%= parks.fullName %>" hidden>
    <button type="submit" class="btn btn-success">Favorite</button>
</form>
<form method="GET" action="/experiences/new/<%= parks.parkCode %>/<%= parks.fullName %>">
    <button class="btn btn-success" type="submit">Add Experience</button>
</form>

<h4>
    Park Description:
</h4>
<p>
    <%= parks.description %>
</p>

<h4>
    User experiences at <%= parks.fullName %>:
</h4>
<% experiences.forEach((experience, idx) => { %>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= experience.title %></h5>
        <p class="card-text"><%= experience.description %></p>
        <% if (experience.userId === user.dataValues.id) { %>
            <form method="GET" action="/experiences/edit/<%= experience.id %>">
                <input type="submit" value="Edit or Delete Experience">
            </form>
    <% } %>
      </div>
      <div class="card-footer text-muted">
        Written by: <%= users[idx].name %>
      </div>

    </div>
    <div class="mt-2 col-md-12">
      <h5 class="text-white">  X  </h5>        
  </div>
    
<% }) %>

<h4>
    Park Activities:
</h4>
<ul>
<% for (let i = 0; i< parks.activities.length; i++) { %>
    <li>
        <%= parks.activities[i].name %>
    </li>
<% } %>
</ul>

<h4>Weather Info:</h4>
<%= parks.weatherInfo %>

<h4>Other Images:</h4>

<% for (let i = 0; i< parks.images.length; i++) { %>
        <img src="<%= parks.images[i].url %>" width="400px"> 
<% } %>



<a href="/parks/<%= parks.parkCode %>">Return to top</a>

<a href="/parks">Return to All Parks</a>